includes:
    - vendor/larastan/larastan/extension.neon
parameters:
    level: 6
    reportUnmatchedIgnoredErrors: false
    paths:
        - src
        - config
    configDirectories:
        - %currentWorkingDirectory%/config
